body 
{
    font-size : 18px;
    align-content : center;
    text-align : center;
    background-color : green;
    padding-top : 15%;
}

textarea
{
    margin: 3rem;
    width: 80%;
    height: auto;
}